/**
* @Author: Sven Waser
* @System: TKTData
* @Version: 1.0
* @Published: Juni 2021
* @Purpose: CSS Style
 */

 /*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
  * Variable
  =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
:root {
  /* Main colors */
  --maincolor: #232b43;
  --darkernavy: #07090d;
  --darknavy: #2a2a2a;
  --navy: #191e2f;
  --lightnavy: #4f5569;
  --lighternavy: #656b7b;
  --navygray: #a7aab3;

  --lighterwhitegray: #fafafa;
  --lightwhitegray: #f4f5f6;
  --whitegray: #f2f2f2;
  --darkwhitegray: #e6e6e6;
  --darkerwhitegray: #e9eaec;
  --lightergray: #d6d6d6;
  --lightgray: #d3d5d9;
  --gray: #bdbfc7;

  --warning1: #cf000f;
  --warning2: #f72f2d;
  --warning4: #e80549;

  --success1: #7dce82;

  /* Ticket states */
  --ticket-payment-and-used: #5c6337;
  --ticket-blocked-and-payment: #e79c27;
  --ticket-payment-expected: #44143e;
  --ticket-used: #44b67e;
  --ticket-blocked: #f24a00;

  /* Restore */
  --restore-old: #cd0717;
  --restore-old-light: #f5cdd1;
  --restore-new: #9ff530;
  --restore-new-light: #ecfdd6;

  /* Fullscreen response */
  --fullscreen-background: #b1760e;

  /* Info bar */
  --info-bar-orange: #fa8702;

  /* Custom gray colors */
  --custom-gray1: #f9f9f9;
  --custom-gray2: #eaeaeb;
  --custom-gray3: #dddee1;
  --custom-gray4: #c9cacf;
  --custom-gray5: #a7aab4;
  --custom-gray6: #8b8f9b;
  --custom-gray7: #ababab;
  --custom-gray8: #a4a4a4;
  --custom-gray9: #919191;
  --custom-gray10: #999999;
  --custom-gray11: #6e6e6e;
  --custom-gray12: #7a7a7a;

  /* Custom navy colors */
  --custom-navy1: #7b808e;
  --custom-navy2: #3d4463;
  --custom-navy3: #4f5578;
  --custom-navy4: #253250;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * General
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

::selection {
  background-color: var(--maincolor);
  color: white;
}

::-webkit-selection {
  background-color: var(--maincolor);
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Loader
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.loader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-color: var(--maincolor);
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

.loader .text {
  display: block;
  text-align: center;
  padding: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.loader .letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  height: 200px;
  width: 200px;
  animation: moveIn 3s, lightning 3s 4s infinite;
}

.loader .letter .base {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: calc(100% - 50px);
  background-color: white;
}

.loader .letter .top {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%) skew(-38deg);
  width: 104%;
  height: 50px;
  background-color: white;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    top: 75%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes lightning {
  0%, 540%, 100% {
    transform: translate(-50%, -50%);
  }

  20% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Navigation
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.mobile-nav-bar {
  display: none;
}

nav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 250px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px var(--lightergray);
  height: 100vh;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

@media screen and (max-width: 700px) {
  .mobile-nav-bar {
    display: block;
    position: fixed;
    z-index: 8;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px var(--lightergray);
    overflow: hidden;
  }

  .mobile-nav-bar img {
    cursor: pointer;
    height: 30px;
    padding: 10px;
  }

  .mobile-nav-bar a {
    float: right;
  }

  nav {
    position: fixed;
    z-index: 9;
    top: 50px;
    left: -110%;
    overflow-y: auto;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px 0px var(--lightergray);
    height: calc(100vh - 50px);
  }

  nav.open {
    left: 0%;
    box-shadow: 0px 2px 5px 0px var(--lightergray);
  }
}

nav .container {
  margin-bottom: calc(34px + 9pt);
}

nav .version {
  display: block;
  width: 100%;
  max-width: 246px;
  position: fixed;
  bottom: 0;
  padding: 2px;
  border-top-right-radius: 5px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 9pt;
  font-style: italic;
  color: var(--lighternavy);
}

nav .logout {
  display: block;
  width: 100%;
  max-width: 240px;
  position: fixed;
  justify-content: flex-start;
  bottom: calc(9pt + 9px);
  display: block;
  padding: 5px;
  height: 20px;
  background-color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

nav .logout img {
  height: 100%;
  width: auto;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

nav .logout:hover img {
  transform: skewY(10deg);
}

nav div img.logo {
  width: 60%;
  margin: 20% 20%;
}

nav div .page-container {
  margin: 5px 0px;
  margin-right: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

nav div .page-container a {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 10px;
  color: var(--darknavy);
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--whitegray);
  cursor: pointer;
}

nav div div a:hover img {
  transform: rotate(720deg);
}

nav div .page-container a img {
  height: 25px;
  margin-right: 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

nav div .page-container.active a {
  border-bottom-right-radius: 0px;
}

nav div .page-container .subpage-container a {
  background-color: var(--lighterwhitegray);
  border-radius: 0px;
  text-transform: none;
  font-weight: 400;
}

nav div .page-container .subpage-container.hidden {
  height: 0px;
  overflow: hidden;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Article
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
article {
  margin-left: 250px;
  min-height: 100vh;
  height: 100%;
}

@media screen and (max-width: 700px) {
  article {
    margin-left: 0px;
    padding-top: 50px;
    height: 100%;
    min-height: calc(100vh - 70px - 11pt);
  }
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Footer
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
footer {
  background-color: var(--maincolor);
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin-left: 250px;
}

@media screen and (max-width: 700px) {
  footer {
    margin: 0px;
  }
}

footer span {
  font-family: 'Ethnocentric', sans-serif;
}


/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Login and reset
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.auth-background {
  background: url("medias/icons/background-login.png");
  background-size: 200px 200px;
  background-repeat: repeat;
  background-position: center center;
  height: 100vh;
}

.auth-form {
  position: absolute;
  width: calc(100% - 40px);
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--whitegray);
  box-shadow: 0px 0px 10px var(--gray);
}

.auth-form a {
  outline: none;
}

.auth-form a img {
  display: block;
  margin: 60px auto;
  width: 70%;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.auth-form img:hover {
  transform: scale(1.2);
}

.auth-form .reset-link {
  display: block;
  margin: 20px 0px 5px 0px;
  text-decoration: none;
  outline: none;
  color: var(--maincolor);
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.auth-form .reset-link:hover {
  color: var(--warning3);
}

.auth-form label.txt-input input:focus+span.placeholder, .auth-form label.txt-input input:valid+span.placeholder, .auth-form label.txt-input input:disabled+span.placeholder {
  top: -12.5px;
  left: 5px;
  opacity: 1;
  font-size: 15px;
  padding: 0px 2px;
  background-color: var(--whitegray);
}

.auth-form input[type="submit"] {
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  margin: 10px 0px;
}

.auth-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.auth-footer footer {
  margin: 0;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Default table
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
table.rows {
  table-layout: fixed;
  border-collapse: collapse;
  width: calc(100% - 40px);
  margin: 5px 20px;
  border-radius: 5px;
  overflow: hidden
}

@media screen and (max-width: 700px) {
  table.rows {
    display: block;
    table-layout: fixed;
    border-collapse: collapse;
    width: calc(100% - 40px);
    margin: 5px 20px;
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

table.rows tr {
  border-bottom: 1px solid var(--lightgray);
}

table.rows tr td, table.rows tr th {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  font-size: 12pt;
  line-height: 1;
  text-align: left;
  padding: 15px 20px;
  vertical-align: middle;

}

table.rows tr th, table.rows tr.nav {
  background-color: var(--whitegray);
  color: Black;
  text-decoration: none;
  border: none;
}

table.rows tr.nav td a {
  color: Black;
  text-decoration: none;
}

table.rows tr td .color {
  position: absolute;
  height: 100%;
  width: 5px;
  left: 0;
  top: 0;
}

table.rows tr td img {
  height: 18px;
  margin: 0px 4px;
  line-height: 1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

table.rows tr td img:hover {
  opacity: 0.5;
}

table.rows tr td:last-child, table.rows tr th:last-child {
  text-align: right;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Form and inputs
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
form {
  margin: 10px 20px;
  font-family: 'Open Sans', sans-serif;
}

form.box-width {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
}

form.right-menu {
  box-sizing: border-box;
  width: calc(100% - 90px);
  margin-top: 20px;
}

label.txt-input {
  display: block;
  position: relative;
  overflow-x: visible;
  border: 1px solid var(--maincolor);
  margin-top: 12.5px;
  border-radius: 5px;
}

label.txt-input span.placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: text;
  opacity: 0.5;
  user-select: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

label.txt-input span.placeholder a {
  color: black;
}

input:disabled, textarea:disabled {
  background-color: transparent !important;
  color: var(--navy) !important;
  cursor: not-allowed !important;
}

label.txt-input input:focus+span.placeholder, label.txt-input input:valid+span.placeholder, label.txt-input textarea:focus+span.placeholder, label.txt-input textarea:valid+span.placeholder, label.txt-input input:disabled+span.placeholder, label.txt-input textarea:disabled+span.placeholder {
  top: -12.5px;
  left: 5px;
  opacity: 1;
  font-size: 15px;
  background-color: white;
  padding: 0px 2px;
}

label.txt-input span.unit, label.txt-input a.refresh {
  position: absolute;
  box-sizing: border-box;
  right: 3px;
  top: 1px;
  padding: 8px;
  font-size: 12pt;
  max-width: 75%;
  background-color: white;
}

label.txt-input span.unit, label.txt-input a.refresh.disabled {
  cursor: not-allowed !important;
}

label.txt-input a.refresh img {
  height: 12pt;
}

label.txt-input input, label.txt-input textarea {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  border: none;
  box-shadow: none;
  outline: none;
}

label.checkbox {
  display: flex;
  align-items: center;
  margin-top: 12.5px;
}

label.checkbox input {
  display: none;
}

label.checkbox div {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0px 5px;
  border: 1px solid var(--lightgray);
  border-radius: 2px;
  cursor: pointer;
}

label.checkbox input:checked+div::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  height: 8px;
  width: 4px;
  border-bottom: 2px solid var(--maincolor);
  border-right: 2px solid var(--maincolor);
  transform: rotate(45deg);
}

label.checkbox input:disabled+div {
  cursor: not-allowed !important;
}

label.radio {
  display: flex;
  position: relative;
  align-items: center;
}

label.radio input {
  display: none;
}

label.radio div {
  height: 14px;
  width: 14px;
  background-color: var(--maincolor);
  margin: 10px 10px 10px 4px;
  border-radius: 50%;
  overflow: visible;
}

label.radio input:checked+div:before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0px;
  height: 18px;
  width: 18px;
  border: 2px solid var(--maincolor);
  border-radius: 50%;
}

label.radio input:disabled+div {
  cursor: not-allowed !important;
}

.select {
  position: relative;
  display: block;
  overflow: visible;
  margin-top: 12.5px;
}

.select .selectValue {
  display: none;
}

.select input:disabled~.headline, .select input:disabled~.options {
  color: var(--navy) !important;
  background-color: white !important;
  cursor: not-allowed !important;
}

.select .headline {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  user-select: none;
  -webkit-user-select: none;
}

.select .headline::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 10px;
  margin: 10px;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
}

.select .options {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.select .options.choose {
  display: block;
}

.select .options span {
  display: block;
  padding: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.select .options span:hover {
  background-color: var(--darkwhitegray);
}

.file-info {
  display: block;
  margin: 10px 0px 5px 0px;
}

label.file-input {
  display: block;
  position: relative;
  overflow-x: visible;
  border: 3px dashed var(--maincolor);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

label.file-input.disabled {
  cursor: not-allowed !important;
}

label.file-input:hover {
  background-color: var(--lightwhitegray);
}

label.file-input input {
  display: none;
  box-shadow: none;
  border: none;
}

label.file-input input:disabled~div {
  cursor: not-allowed !important;
  background-color: transparent !important;
}

label.file-input .draganddrop {
  width: 200px;
  margin: 60px auto;
}

label.file-input .preview-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid var(--lightgray);
  box-shadow: 0px 0px 5px var(--darkerwhitegray);
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

form select {
  width: 151px;
  /* Padding does count to width so we habe to add this 5 padding to have select the same width as input/textarea */
  padding: 3px 6px;
  margin: 2.5px 5px;
  background-color: transparent;
  border: none;
  border: 1px solid var(--lightgray);
  font-family: 'Open Sans', sans-serif;
}

form input[type="checkbox"] {
  width: auto;
}

input[type="submit"], button, span.button, a.button {
  display: inline-block;
  background-color: var(--maincolor);
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  width: auto;
  border: none;
  outline: none;
  padding: 5px 10px;
  margin: 5px 5px 5px 0px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

input[type="submit"]:hover, button:hover, a.button:hover {
  opacity: 0.5;
}

input[type="submit"]:disabled, button:disabled {
  display: none;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Media Hub
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.media-hub-window {
  position: fixed;
  top: 20px;
  left: 270px;
  z-index: 8;
  box-sizing: border-box;
  width: calc((100vw - 250px) - 50px);
  height: calc(100vh - 40px);
  overflow: auto;
  background: white;
  border: 5px solid var(--maincolor);
  box-shadow: 0px 0px 20px var(--maincolor);
}

.media-hub-window .media-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9;
  background-color: white;
  padding-bottom: 10px;
}

.media-hub-window .media-header .media-nav {
  background-color: var(--whitegray);
}

.media-hub-window .media-header .media-nav a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 9pt;
  padding: 5px 20px 7.5px 20px;
  background-color: var(--whitegray);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.media-hub-window .media-header .media-nav a.active {
  background-color: white;
}

.media-hub-window .media-header .media-nav a:hover {
  color: white;
  background-color: var(--maincolor);
}

.media-hub-window .media-header .media-nav a.right {
  float: right;
}

.media-hub-window .media-article {
  margin: 10px;
}

.media-hub-window .media-article .media-list {
  display: flex;
  flex-wrap: wrap;
}

.media-hub-window .media-article .media-list label {
  position: relative;
  width: calc(12.5% - 20px);
  background: var(--maincolor);
  margin: 10px;
}

.media-hub-window .media-article .media-list label:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.media-hub-window .media-article .media-list input {
  display: none;
}

.media-hub-window .media-article .media-list input:checked + label .img {
  outline: 6px solid var(--maincolor);
  outline-offset: 1px;
}

.media-hub-window .media-article .media-list label .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  cursor: pointer;
}

.media-hub-window .media-article .media-list a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 8;
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: white;
}

.media-hub-window .media-article .media-details {
  position: fixed;
  width: calc(100% - 20px);
  max-width: 300px;
  bottom: 25px;
  right: 40px;
  background-color: var(--whitegray);
  box-shadow: -0px 0px 20px var(--maincolor);
}

.media-hub-window .media-article .media-details .img {
  position: relative;
  height: 120px;
  width: 100%;
  background-size: cover;
}

.media-hub-window .media-article .media-details .img .close {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  line-height: 1;
  padding: 5px;
  background-color: var(--maincolor);
  color: white;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.media-hub-window .media-article .media-details .img .close:hover {
  background-color: var(--warning2);
}

.media-hub-window .media-article .media-details .media-detail-values {
  padding: 10px;
}

.media-hub-window .media-article .media-details .media-detail-values .value {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 11pt;
  margin: 10px 0px;
}

.media-hub-window .media-article .media-details .media-detail-values .value input, .media-hub-window .media-article .media-details .media-detail-values .value textarea {
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 11pt;
  background-color: transparent;
  width: 100%;
}

.media-hub-window .media-article .media-details .actions {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  align-items: center;
}

.media-hub-window .media-article .media-details .actions {
  margin: 10px 10px 5px 10px;
}

.media-hub-window .media-article .media-details .actions a {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 9pt;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.media-hub-window .media-article .media-details .actions a.remove {
  color: var(--warning2);
}

.media-hub-window .media-article .media-details a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: white;
}

@media screen and (max-width: 700px) {
  .media-hub-window {
    top: 70px;
    left: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 70px - 60px);
  }

  .media-hub-window .media-article .media-list label {
    width: calc(33.3333% - 20px);
  }

  .media-hub-window .media-article .media-list button {
    flex-grow: 3;
  }

  .media-hub-window .media-article .media-details {
    width: calc(100% - 20px);
    bottom: 65px;
    right: 35px;
  }
}

@media screen and (max-width: 400px) {
  .media-hub-window .media-article .media-list label {
    width: calc(50% - 20px);
  }

  .media-hub-window .media-article .media-list a.button {
    flex-grow: 2;
  }

  .media-hub-window .media-article .media-details {
    width: calc(100% - 70px);
    bottom: 65px;
    right: 35px;
  }
}

.media-hub-window .media-article .media-upload label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;
  height: calc(100vh - 40px - 80px - 50px - 10px);
  border: 5px dashed var(--maincolor);
  background-color:var(--navygray);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.media-hub-window .media-article .media-upload label .upload_prompt {
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 22pt;
  color: white;
}

.media-hub-window .media-article .media-upload label form {
  display: none;
}

.media-hub-window .media-article .media-upload .progress_bar {
  display: none;
  position: relative;
  height: 40px;
  width: 60%;
  background: var(--maincolor);
  border-radius: 10px;
}

.media-hub-window .media-article .media-upload .progress_bar.animate {
  background: repeating-linear-gradient(-45deg, rgba(35, 43, 67, 0.7), rgba(35, 43, 67, 0.7) 20px, var(--maincolor) 20px,  var(--maincolor) 40px);
  background-size: 300% 100%;
  background-position: right;
  animation: uploadMedia 7s linear infinite;
}

.media-hub-window .media-article .media-upload .progress_bar .textoverlay {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 2px 2px var(--maincolor);
}

@keyframes uploadMedia {
  0% {
     background-position: right;
  }
  100% {
    background-position: left;
  }
}

@-webkit-keyframes uploadMedia {
  0% {
     background-position: right;
  }
  100% {
    background-position: left;
  }
}

.media-hub-window .media-article .media-upload label .uploaded_files {
  width: 100%;
  display: none;
  max-height: 20%;
  overflow: auto;
}

.media-hub-window .media-article .media-upload label .uploaded_files span {
  display: block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color:  rgb(35, 43, 67, 0.55);
  margin: 3px;
}

.media-hub-window .media-article .media-upload label .uploaded_files .failed {
  display: block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color:  rgb(35, 43, 67, 0.55);
  margin: 3px;
  color: var(--warning2);
}

@media screen and (max-width: 700px) {
  .media-hub-window .media-article .media-upload label {
    margin: 5px;
    height: calc(100vh - 70px - 60px - 40px - 45px);
    border: 5px dashed var(--maincolor);
    background-color:var(--navygray);
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Add button
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
a.add {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	height: 40px;
	width: 40px;
	background: radial-gradient(var(--darkernavy), var(--maincolor));
	box-shadow: 0px 0px 5px var(--lighternavy);
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

a.add:hover {
  transform: rotate(90deg);
}

a .horizontal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 70%;
  width: 6px;
  background-color: white;
}

a .vertical {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 6px;
  width: 70%;
  background-color: white;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Search form
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
form.search {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid var(--lightgray);
  border-radius: 50px;
  overflow: hidden;
}

form.search input {
  width: calc(100% - 60px);
  max-width: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px 20px;
  margin: 0;
  box-sizing: border-box;
}

form.search button {
  width: 60px;
  height: 100%;
  border: none;
  padding: 12px 20px;
  margin: 0;
  cursor: pointer;
  background-color: var(--lightgray);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

form.search button:hover {
  background-color: var(--custom-gray5);
  opacity: 1;
}

form.search button img {
  height: 11pt;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Fullscreen info and confirm
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
 .fullscreen {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--maincolor);
}

.fullscreen form {
  position: absolute;
  background-color: var(--lightnavy);
  border-top: 2px solid white;
  width: 100%;
  max-width: 500px;
  padding: 40px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
}

.fullscreen form img {
  display: block;
  margin: 0px auto;
  width: 80%;
  max-width: 200px;
  margin-bottom: 20px;
  filter: brightness(0) invert(1);
  /*Move images to white*/
}

.fullscreen form span {
  padding: 20px 0px;
  display: block;
  color: white;
}

.fullscreen form button {
  font-family: "Open Sans", sans-serif;
  margin-right: 5px;
  padding: 7px 14px;
}

.fullscreen.center form span {
  text-align: center;
}

.fullscreen.center form button {
  display: block;
  font-family: "Open Sans", sans-serif;
  margin: 5px auto;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Success or error message
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
 .message-container {
  position: fixed;
  z-index: 7;
  bottom: 0;
  right: 0;
  height: auto;
  width: 20%;
  min-width: 250px;
}

.message-container .message {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 20px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}

.message-container .message img {
  margin-right: 20px;
  height: 27px;
  flex-shrink: 0;
}

.message-container .message.success {
  background-color: var(--success1);
  color: white;
}

.message-container .message.error {
  background-color: var(--warning1);
  color: white;
}

.message-container .message a.redirect {
  display: block;
  margin: 3px 0px;
  color: white;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
/*
/*  /////     ////          ////      ////////    //////
/*  //   //  //  //      //          //         //
/*  /////   ///////     //    //// ///////      ////
/*  //     //     //   //     //  //               //
/*  //    //      //     ////    ///////    ///////
/*
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Tickets page
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.mainpage-1.subpage-7 .right-sub-menu {
  position: fixed;
  z-index: 8;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 5px var(--custom-gray11);
  background-color: white;
  cursor: pointer;
}

.mainpage-1.subpage-7 .right-sub-menu .right-menu-item {
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-top: 1px dotted var(--custom-gray8);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-1.subpage-7 .right-sub-menu .right-menu-item:nth-child(1) {
  border: none;
}

.mainpage-1.subpage-7 .right-sub-menu .right-menu-item img {
  height: 30px;
  width: 30px;
  padding: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-1.subpage-7 .right-sub-menu .right-menu-item:hover img {
  filter: brightness(0) invert(1);
}

.mainpage-1.subpage-7 .right-sub-menu .right-menu-item:hover {
  background-color: var(--maincolor);
}

.mainpage-1.subpage-7 table tr.payment-and-used {
  background-color: var(--ticket-payment-and-used) !important;
  color: black !important;
}

.mainpage-1.subpage-7 table tr.blocked-and-payment {
  background-color: var(--ticket-blocked-and-payment) !important;
  color: black !important;
}

.mainpage-1.subpage-7 table tr.payment-expected {
  background-color: var(--ticket-payment-expected) !important;
  color: white !important;
}

.mainpage-1.subpage-7 table tr.payment-expected img {
  filter: brightness(0) invert(1);
  /*Move images to white*/
}

.mainpage-1.subpage-7 table tr.used {
  background-color: var(--ticket-used) !important;
  color: black !important;
}

.mainpage-1.subpage-7 table tr.blocked {
  background-color: var(--ticket-blocked) !important;
  color: black !important;
}

.mainpage-1.subpage-7 .top-bar-ticket {
  padding: 15px 25px;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 0px 10px var(--custom-gray7);
}

.mainpage-1.subpage-7 .top-bar-ticket.payment-and-used {
  background-color: var(--ticket-payment-and-used) !important;
  color: black !important;
}

.mainpage-1.subpage-7 .top-bar-ticket.blocked-and-payment {
  background-color: var(--ticket-blocked-and-payment) !important;
  color: black !important;
}

.mainpage-1.subpage-7 .top-bar-ticket.payment-expected {
  background-color: var(--ticket-payment-expected) !important;
  color: white !important;
}

.mainpage-1.subpage-7 .top-bar-ticket.payment-expected img {
  filter: brightness(0) invert(1);
  /*Move images to white*/
}

.mainpage-1.subpage-7 .top-bar-ticket.used {
  background-color: var(--ticket-used) !important;
  color: black !important;
}

.mainpage-1.subpage-7 .top-bar-ticket.blocked {
  background-color: var(--ticket-blocked) !important;
  color: black !important;
}

.mainpage-1.subpage-7 .ticket-payment-date {
  display: block;
  padding: 8px 0px 4px 0px;
  font-size: 9pt;
  color: var(--custom-gray12);
}

.mainpage-1.subpage-7 .headline-maincolor {
  height: 5px;
}

/*Legend*/
.mainpage-1.subpage-7 .legend {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 5px 20px;
}

.mainpage-1.subpage-7 .legend-element {
  display: flex;
  align-items: center;
  font-size: 10pt;
}

.mainpage-1.subpage-7 .legend-button {
  display: inline-block;
  height: 10pt;
  width: 10pt;
  border-radius: 10px;
  margin: 0px 5px;
}

.mainpage-1.subpage-7 .legend-button.payment-and-used {
  background-color: var(--ticket-payment-and-used) !important;
}

.mainpage-1.subpage-7 .legend-button.blocked-and-payment {
  background-color: var(--ticket-blocked-and-payment) !important;
}

.mainpage-1.subpage-7 .legend-button.payment-expected {
  background-color: var(--ticket-payment-expected) !important;
}

.mainpage-1.subpage-7 .legend-button.payment-expected img {
  filter: brightness(0) invert(1);
}

.mainpage-1.subpage-7 .legend-button.used {
  background-color: var(--ticket-used) !important;
}

.mainpage-1.subpage-7 .legend-button.blocked {
  background-color: var(--ticket-blocked) !important;
}

.mainpage-1.subpage-7 .radio-input-container {
  margin-top: 12.5px;
}

.mainpage-1.subpage-7 .coupon-add-container,
.mainpage-1.subpage-7 .custom-add-container {
  overflow-x: visible;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Groups page
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.mainpage-1.subpage-8 .group-nav {
  background-color: var(--whitegray);
}

.mainpage-1.subpage-8 .group-nav a {
  display: inline-block;
  padding: 5px 20px;
  color: var(--darknavy);
  font-weight: 500;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

.mainpage-1.subpage-8 .group-nav a.selected {
  background-color: white;
}

.mainpage-1.subpage-8 .group-nav a:hover {
  background-color: var(--custom-gray1);
}

.mainpage-1.subpage-8 .headline-maincolor {
  height: 5px;
}

.mainpage-1.subpage-8 h1.info {
  border-top: 3px solid black;
  font-family: sans-serif;
  font-weight: 800
}

.mainpage-1.subpage-8 .customFormFields {
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.mainpage-1.subpage-8 .customFormFields div {
  display: block;
}

.mainpage-1.subpage-8 .customFormFields div h1 {
  font-size: 16px;
}

.mainpage-1.subpage-8 .container-custom-form {
  font-family: 'Montserrat', sans-serif;
  border: 2px solid black;
  margin: 4px 0px;
  border-radius: 5px;
  padding: 5px;
}

.mainpage-1.subpage-8 .container-custom-form .multipleContainer {
  display: inline-block;
  border: 2px solid black;
  margin: 4px 4px 4px 0px;
  border-radius: 5px;
  padding: 5px;
}

.mainpage-1.subpage-8 .container-custom-form input {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  margin-right: 5px;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  outline: none;
  box-shadow: none;
}

 .mainpage-1.subpage-8 .container-custom-form span {
  width: auto;
  cursor: pointer;
  padding: 0px;
  float: right;
}

 .mainpage-1.subpage-8 .container-custom-form span:hover {
  color: var(--restore-old);
}

 .mainpage-1.subpage-8 .container-custom-form span.button {
  padding: 5px;
}

 .mainpage-1.subpage-8 .container-custom-form span.button:hover {
  color: white;
}

 .mainpage-1.subpage-8 .addInput span.button {
  width: auto;
  border-radius: 5px;
}

 .mainpage-1.subpage-8 .multipleContainer input {
  border: none;
}

 .mainpage-1.subpage-8 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainpage-1.subpage-8 .form-50 {
  width: 100%;
  overflow: visible;
}

.mainpage-1.subpage-8 .ticket-preview {
  width: 100%;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
}

.mainpage-1.subpage-8 .ticket-preview .ticket-preview-info-box, .info-box {
  padding: 10px 20px;
  background-color: var(--info-bar-orange);
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 10pt;
}

.mainpage-1.subpage-8 .ticket-preview iframe {
  width: 100%;
  height: calc(100vh - 10pt - 20px);
  border: none;
  background-color: var(--gray);
}

.mainpage-1.subpage-8 .btn-msg-container {
  display: block;
  margin-top: 10px;
}

.mainpage-1.subpage-8 .btn-msg-container span {
  display: inline-block;
  margin-right: 2px;
  border: 1px solid var(--maincolor);
  border-radius: 3px;
  padding: 2px 4px;
  font-size: 10pt;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-1.subpage-8 .btn-msg-container span:hover {
  color: white;
  background-color: var(--maincolor);
}

@media screen and (max-width: 700px) {
  .mainpage-1.subpage-8 .form-50 {
    float: left;
    width: 100%;
  }

  .mainpage-1.subpage-8 .ticket-preview {
    float: left;
    width: 100%;
    overflow: hidden;
    height: auto;
    min-height: 100vh;
  }
}

.mainpage-1.subpage-8 .email-header {
  display: flex;
  padding: 20px;
  background-color: var(--lighterwhitegray);
  border-bottom: 1px dotted var(--darkwhitegray);
  font-family: 'Open Sans', sans-serif;
}

.mainpage-1.subpage-8 .email-header .circle-initials {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--maincolor);
}

.mainpage-1.subpage-8 .email-header .circle-initials span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.mainpage-1.subpage-8 .email-header .message-lines {
  display: block;
  margin: 0px 10px;
}

.mainpage-1.subpage-8 .email-header .message-lines span.from, .email-header .message-lines .subject {
  display: block;
}

.mainpage-1.subpage-8 .email-header .message-lines .mail {
  font-style: italic;
  color: var(--custom-gray10);
}

.mainpage-1.subpage-8 .sdk-code,
.mainpage-1.subpage-8 .payment {
  margin: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10pt;
  padding: 2px 0px;
}

.mainpage-1.subpage-8 .sdk-code p,
.mainpage-1.subpage-8 .payment p {
  font-size: 13pt;
  font-weight: 600;
  color: var(--maincolor);
  margin: 0px 0px 2px 0px;
}

.mainpage-1.subpage-8 .sdk-code .txt-input,
.mainpage-1.subpage-8 .payment .txt-input {
  margin-bottom: 12.5px;
}

.mainpage-1.subpage-8 .sdk-code pre code,
.mainpage-1.subpage-8 .payment pre code {
  border-radius: 5px;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Scanner pages
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.mainpage-3.subpage-10 .scanner-info-txt {
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

.mainpage-3.subpage-10 .scanner-info-txt textarea {
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 100vh;
}

.mainpage-3.subpage-10 .scanner-info-txt ol li {
  overflow: visible;
  margin: -7px 0px;
  margin-left: 20px;
}

.mainpage-3.subpage-11 .qr-scanner {
  position: relative;
}

.mainpage-3.subpage-11 .qr-scanner #loadingMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--maincolor);
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.mainpage-3.subpage-11 .qr-scanner video {
  display: none;
}

.mainpage-3.subpage-11 .qr-scanner div.video {
  width: 100%;
  background: url("medias/icons/background-login.svg");
}

.mainpage-3.subpage-11 .qr-scanner div.video canvas {
  display: block;
  height: 100vh;
  max-width: 100%;
  margin: 0px auto;
}

.mainpage-3.subpage-11 .fullscreen-icon {
  position: absolute;
  width: 25px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-3.subpage-11 .fullscreen-icon:hover {
  transform: scale(1.2);
}

.mainpage-3.subpage-11 .fullscreen-icon.esc:hover {
  transform: scale(0.8);
}

.mainpage-3.subpage-11 .fullscreen-result {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--fullscreen-background);
}

.mainpage-3.subpage-11 .fullscreen-result-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainpage-3.subpage-11 .fullscreen-result-info img {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 250px;
}

.mainpage-3.subpage-11 .fullscreen-result-info span {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 10% 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 16pt;
  font-weight: 1000;
  color: white;
}

.mainpage-3.subpage-11 .fullscreen-result-info button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 25%;
  background-color: transparent;
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 5px;
}

.mainpage-3.subpage-11 .scann-result-container,
.mainpage-3.subpage-12 .scann-result-container {
  position: relative;
  margin: 10px 20px;
  border: 1px solid var(--custom-gray9);
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px var(--maincolor);
}

@media screen and (max-width: 700px) {
  .mainpage-3.subpage-11 .scann-result-container,
  .mainpage-3.subpage-12 .scann-result-container {
    width: 100%;
    margin: 0px;
    border: none;
    border-radius: 0px;
    margin-bottom: calc(68px + 22pt - 10px - 11pt);
    background-color: white;
    box-shadow: none;
  }

  .mainpage-3.subpage-11 .scann-result-container .button-container,
  .mainpage-3.subpage-12 .scann-result-container .button-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--whitegray);
    padding: 5px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.mainpage-3.subpage-11 .scann-result-container .payment-and-used,
.mainpage-3.subpage-12 .scann-result-container .payment-and-used {
  background-color: var(--ticket-payment-and-used) !important;
}

.mainpage-3.subpage-11 .scann-result-container .blocked-and-payment,
.mainpage-3.subpage-12 .scann-result-container .blocked-and-payment {
  background-color: var(--ticket-blocked-and-payment) !important;
}

.mainpage-3.subpage-11 .scann-result-container .payment-expected
.mainpage-3.subpage-12 .scann-result-container .payment-expected {
  background-color: var(--ticket-payment-expected) !important;
}

.mainpage-3.subpage-11 .scann-result-container .payment-expected img,
.mainpage-3.subpage-12 .scann-result-container .payment-expected img {
  filter: brightness(0) invert(1);
}

.mainpage-3.subpage-11 .scann-result-container .used,
.mainpage-3.subpage-12 .scann-result-container .used {
  background-color: var(--ticket-used) !important;
}

.mainpage-3.subpage-11 .scann-result-container .blocked,
.mainpage-3.subpage-12 .scann-result-container .blocked {
  background-color: var(--ticket-blocked) !important;
}

.mainpage-3.subpage-11 .top-bar-ticket,
.mainpage-3.subpage-12 .top-bar-ticket {
  padding: 15px 25px;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 0px 10px var(--custom-gray7);
}

.mainpage-3.subpage-11 .scann-result-container .header-img,
.mainpage-3.subpage-12 .scann-result-container .header-img {
  margin: 5vh 10%;
  height: 10vh;
  width: 80%;
  background-image: url("medias/logo/logo-fitted.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mainpage-3.subpage-11 .scann-result-container .groupInfo,
.mainpage-3.subpage-12 .scann-result-container .groupInfo {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  text-shadow: 0px 0px 20px black;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 9pt;
}

.mainpage-3.subpage-11 .scann-result-container .infos,
.mainpage-3.subpage-12 .scann-result-container .infos {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  font-size: 11pt;
}

.mainpage-3.subpage-11 .scann-result-container .infos .row:nth-child(even),
.mainpage-3.subpage-12 .scann-result-container .infos .row:nth-child(even) {
  background-color: var(--custom-gray2);
}

.mainpage-3.subpage-11 .scann-result-container .infos .row .cell-2,
.mainpage-3.subpage-12 .scann-result-container .infos .row .cell-2 {
  box-sizing: border-box;
  width: 50%;
  padding: 7px 14px;
  display: inline-block;
}

.mainpage-3.subpage-11 .scann-result-container .infos .row .cell-4,
.mainpage-3.subpage-12 .scann-result-container .infos .row .cell-4 {
  box-sizing: border-box;
  width: 25%;
  padding: 7px 14px;
  display: inline-block;
}

.mainpage-3.subpage-11 .scann-result-container .infos .row .cell-4-3,
.mainpage-3.subpage-12 .scann-result-container .infos .row .cell-4-3 {
  box-sizing: border-box;
  position: relative;
  width: 75%;
  padding: 7px 14px;
  display: inline-block;
}

.mainpage-3.subpage-11 .scann-result-container .infos .row .date-count,
.mainpage-3.subpage-12 .scann-result-container .infos .row .date-count {
  position: absolute;
  right: 7px;
  top: 2px;
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
  color: white;
}

.mainpage-3.subpage-11 .scann-result-container .button-container button,
.mainpage-3.subpage-12 .scann-result-container .button-container button {
  display: block;
  box-sizing: border-box;
  margin: 5px;
  padding: 12px;
  border-radius: 5px;
  width: calc(100% - 10px);
  background: var(--custom-gray3);
  color: black;
  border: 1px solid var(--custom-gray6);
  font-size: 11pt;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  box-shadow: 0px 0px 5px var(--custom-gray4);
}

.mainpage-3.subpage-11 .scann-result-container .button-container button:hover,
.mainpage-3.subpage-12 .scann-result-container .button-container button:hover {
  background-color: var(--maincolor);
  opacity: 1;
  color: white;
}

.mainpage-3.subpage-11 .scann-result-container .button-container button.cancel,
.mainpage-3.subpage-12 .scann-result-container .button-container button.cancel {
  color: var(--warning2);
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Livedata pages
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.mainpage-4.subpage-13 .livedata-form,
.mainpage-4.subpage-14 .livedata-form {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  overflow-x: visible;
}

.mainpage-4.subpage-13 .livedata-form a {
  text-decoration: none;
  color: black;
}

.mainpage-4.subpage-14 .export-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
  height: 40px;
  width: 40px;
  background-image: radial-gradient(var(--darkernavy), var(--maincolor));
  box-shadow: 0px 0px 5px var(--lighternavy);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-4.subpage-14 .export-button:hover {
  transform: rotate(90deg);
}

.mainpage-4.subpage-14 .export-button img {
  height: 50%;
  margin: 25%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-4.subpage-14 .export-button:hover img {
  transform: rotate(-90deg);
}


.mainpage-4.subpage-13 .export-button:hover {
  transform: scale(1.1);
  background-color: var(--custom-navy2);
}

.mainpage-4.subpage-13 .livedata-live-info {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  float: left;
  width: calc(50vw - 134px);
  height: 50vh;
}

@media screen and (max-width: 700px) {
  .mainpage-4.subpage-13 .livedata-live-info {
    width: 90vw;
    margin: 0px 5vw;
  }
}

@media screen and (max-width: 1100px) and (min-width: 700px) {
  .mainpage-4.subpage-13 .livedata-live-info {
    width: calc(100vw - 250px);
  }
}

.mainpage-4.subpage-13 .livedata-live-info div {
  position: relative;
  margin: 5px;
  border: 5px solid var(--custom-gray5);
  background-color: var(--maincolor);
  box-shadow: 0px 0px 10px var(--custom-gray5);
  width: 200px;
  height: 200px;
  animation: live_bg 2s alternate infinite;
}

.mainpage-4.subpage-13 .livedata-live-info div span.title {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 10px 0px;
}

.mainpage-4.subpage-13 .livedata-live-info div span.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 1000;
}

.mainpage-4.subpage-13  .livedata-live-info div span.content img {
  height: 100px;
}

@keyframes live_bg {
  0% {
    background-color: var(--maincolor);
  }

  100% {
    background-color: var(--custom-navy2);
  }
}

.mainpage-4.subpage-13 .archive-button {
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: var(--maincolor);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-4.subpage-15 .livedata-button {
  display: block;
  position: relative;
  margin: 20px;
  cursor: pointer;
  height: calc(50vh - 60px);
  background-color: white;
  box-shadow: 0px 0px 10px var(--custom-navy1);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-4.subpage-15 .livedata-button.disabled {
  cursor: not-allowed !important;
  background-color: var(--lightgray);
}

@media screen and (max-width: 700px) {
  .mainpage-4.subpage-15 .livedata-button {
    height: calc(50vh - 80px);
  }
}

.mainpage-4.subpage-15 .livedata-button span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  border: 2.5rem solid var(--maincolor);
  transform: translate(-50%, -50%) rotate(45deg);
}

.mainpage-4.subpage-15 .livedata-button.up span {
  border-right: none;
  border-bottom: none;
}

.mainpage-4.subpage-15 .livedata-button.down span {
  border-top: none;
  border-left: none;
}

.mainpage-4.subpage-15 .livedata-button:hover {
  background-color: var(--lightgray);
}

.mainpage-4.subpage-15 .livedata-visitor-bar {
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
  background-color: var(--custom-navy4);
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Pub pages
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.mainpage-5 .pub .top-nav {
  background-color: var(--whitegray);
  border-top: 5px solid var(--maincolor);
}

.mainpage-5 .pub .top-nav.border-none {
  border: none;
}

.mainpage-5 .pub .top-nav a {
  display: inline-block;
  padding: 5px 20px;
  color: var(--darknavy);
  font-weight: 500;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

.mainpage-5 .pub .top-nav a img {
  height: 12pt;
  vertical-align: sub;
}

.mainpage-5.subpage-17 .fee-info {
  background-color: var(--info-bar-orange);
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  font-size: 10pt;
}

.mainpage-5 .right-sub-menu {
  position: fixed;
  z-index: 8;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 0px 5px var(--custom-gray11);
  background-color: white;
  cursor: pointer;
}

.mainpage-5 .right-sub-menu .right-menu-container {
  position: relative;
}

.mainpage-5 .right-sub-menu .right-menu-container .right-menu-item {
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-top: 1px dotted var(--custom-gray8);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-5.subpage-17 .right-sub-menu .right-menu-item:nth-child(1) {
  border: none;
}

.mainpage-5 .right-sub-menu .right-menu-item img {
  height: 30px;
  width: 30px;
  padding: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-5 .right-sub-menu .right-menu-item:hover img {
  filter: brightness(0) invert(1);
}

.mainpage-5 .right-sub-menu .right-menu-item:hover {
  background-color: var(--maincolor);
}

.mainpage-5 .right-sub-menu .right-menu-container .right-sub-menu-container {
  display: none;
}

.mainpage-5 .right-sub-menu .right-menu-container:hover .right-sub-menu-container {
  display: block;
  position: absolute;
  z-index: 6;
  right: 50px;
  top: 0;
  box-shadow: 0px 0px 5px var(--custom-gray11);
  background-color: white;
  cursor: pointer;
}

.mainpage-5 .right-sub-menu .right-menu-container:hover .right-sub-menu-container .right-sub-menu-item {
  display: block;
  font-size: 18px;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  color: var(--maincolor);
  border-bottom: 1px dotted var(--whitegray);
}

.mainpage-5 .right-sub-menu .right-menu-container:hover .right-sub-menu-container .right-sub-menu-item.current {
  background-color: var(--custom-gray3);
}

.mainpage-5 .right-sub-menu .right-menu-container:hover .right-sub-menu-container .right-sub-menu-item:hover {
  background-color: var(--maincolor);
  color: white;
}

.mainpage-5 .pub .top-nav a.selected {
  background-color: white;
}

.mainpage-5 .pub .top-nav a:hover {
  background-color: var(--custom-gray1);
}

.mainpage-5 .pub .box {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10pt;
  padding: 2px 0px;
}

.mainpage-5 .pub .box p {
  font-size: 13pt;
  font-weight: 600;
  color: var(--maincolor);
  margin: 0px 0px 2px 0px;
}

.mainpage-5 .pub .option_add {
  display: grid !important;
  grid-template-columns: 80% 20%;
  border-top: 1px solid var(--lightgray);
}

.mainpage-5 .pub .option_add input {
  margin: 5px 0px 5px 5px;
  background-color: transparent;
  border: 1px solid var(--lighternavy);
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  outline: none;
  box-shadow: none;
}

.mainpage-5 .pub .option_add .button {
  text-align: center;
}

.mainpage-5 .pub .option_add .button:hover {
  text-align: center;
  background-color: var(--lighternavy);
}

.mainpage-5 .pub .header {
  position: relative;
  background: var(--maincolor);
}

.mainpage-5 .pub .header .current {
  display: block;
  position: relative;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
}

.mainpage-5 .pub .header .current.multiple::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 15px;
  height: 15px;
  width: 15px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.mainpage-5 .pub .header .pubs {
  display: none;
  position: absolute;
  z-index: 8;
  top: 42px;
  left: 0;
  right: 0;
  max-height: calc(100vh - 42px);
  background-color: var(--darkerwhitegray);
  box-shadow: 0px 0px 20px var(--maincolor);
}

.mainpage-5 .pub .header .pubs.visible {
  display: block;
  max-height: 20vh;
  overflow: auto;
}

.mainpage-5 .pub .header .pubs a {
  display: block;
  padding: 9px 14px;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  border-top: 1px dotted var(--gray);
}

.mainpage-5 .pub .header .pubs a:nth-child(1) {
  border: none;
}

.mainpage-5 .pub .header .pubs a:hover {
  background-color: var(--lightergray);
}

/*Legend*/
.mainpage-5 .legend {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 5px 20px;
}

.mainpage-5 .legend-element {
  display: flex;
  align-items: center;
  font-size: 10pt;
}

.mainpage-5 .legend-button {
  display: inline-block;
  height: 10pt;
  width: 10pt;
  border-radius: 10px;
  margin: 0px 5px;
}

.mainpage-5.subpage-17 .pub tr.global_product {
  color: var(--lightnavy);
}

.mainpage-5.subpage-17 .pub tr.hidden_product {
  background-image: repeating-linear-gradient(45deg, var(--lightwhitegray), var(--lightwhitegray) 2px, white 2px, white 8px);
  background-size: 100% 100%;
  background-position: center center;
}

.mainpage-5.subpage-17 .pub tr.global_product .color {
  opacity: 0.75;
}

.mainpage-5.subpage-17 .pub .banner-global-product {
  background-color: var(--info-bar-orange);
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  font-size: 10pt;
}

.mainpage-5.subpage-18 td.disabled a img {
  opacity: 0.2;
  cursor: not-allowed !important;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
 * Users pages
 =*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.mainpage-6.subpage-19 form div.right-menu-title span {
  display: inline-block;
  width: 200px;
  font-size: 12pt;
  font-weight: 800;
  color: var(--maincolor);
  border-bottom: 2px solid var(--maincolor);
}

.mainpage-6.subpage-19 form div.submenu-rights span {
  display: inline-block;
  width: 200px;
}

.mainpage-6.subpage-19 form div span.writeorread {
  display: inline-block;
  width: 17px;
  /* Height of checkbox + 2px for border */
  height: 24px;
  border: none;
  margin: 0px 5px;
  font-size: 11pt;
  font-weight: 400;
  text-align: center;
  vertical-align: sub;
}

.mainpage-6.subpage-19 label.user-rights-checkbox {
  display: inline-block;
  margin: 0;
}

.mainpage-6.subpage-20 .restore-action {
  overflow: hidden;
  margin: 5px 20px;
}

.mainpage-6.subpage-20 .restore-action h1 {
  margin: 10px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15pt;
}

.mainpage-6.subpage-20 .restore-action a {
  float: right;
  margin: 10px 10px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  background-color: var(--maincolor);
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.mainpage-6.subpage-20 .restore-action a:hover {
  opacity: 0.5;
}

.mainpage-6.subpage-20 .restore-action .version-container {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.mainpage-6.subpage-20 .restore-action .version-container div {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  width: calc(50% - 20px);
  float: left;
  margin: 0px 10px;
  align-items: stretch;
}

@media screen and (max-width: 600px) {
  .mainpage-6.subpage-20 .restore-action .version-container div {
    position: relative;
    width: calc(100% - 20px);
    float: left;
    margin: 0px 10px;
  }
}

.mainpage-6.subpage-20 .restore-action .version-container div pre {
  padding: 10px;
  height: 100%;
}

.mainpage-6.subpage-20 .restore-action .version-container div.old pre {
  background-color: var(--restore-old-light);
  border-top: 5px solid var(--restore-old);
}

.mainpage-6.subpage-20 .restore-action .version-container div.new pre {
  background-color: var(--restore-new-light);
  border-top: 5px solid var(--restore-new);
}

.mainpage-6.subpage-20 .restore-action .version-container div span {
  position: absolute;
  top: 5px;
  right: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 8pt;
  color: white;
  padding: 2px 5px;
  background-color: var(--maincolor);
  border-bottom-left-radius: 5px;
}
