<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<httpRedirect enabled="false" destination="" exactDestination="false" childOnly="false" httpResponseStatus="Permanent" />
        <rewrite>
          <rule name="rule 1Q" stopProcessing="true">
          	<match url="^([A-Za-z0-9-]*)\/*([A-Za-z0-9-]*)\/*([A-Za-z0-9-]*)$"  ignoreCase="true" />
          	<action type="Rewrite" url="/index.php?type={R:1}&amp;id={R:2}&amp;page={R:3}"  />
          </rule>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="X-Robots-Tag" value="noindex, nofollow" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
