.autogenerate-tickets h1 {
  color: #232b43;
  font-family: 'Open Sans', sans-serif;
}

.autogenerate-tickets h1.title {
  margin: 30px 20px 10px 20px;
}

.autogenerate-tickets span {
  display: block;
  margin: 5px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}

.autogenerate-tickets .anleitung {
  margin: 50px 20px 10px 20px;
}

.autogenerate-tickets .anleitung p {
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0px;
}
