* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

::selection {
  background-color: #232b43;
  color: white;
}

::-webkit-selection {
  background-color: #232b43;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

/* Article */
article {
  min-height: 100vh;
}

/* banner */
header .banner {
  position: relative;
  height: 25vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .banner .logo {
  position: absolute;
  top: 5vh;
  left: 5vh;
  height: 10vh;
  max-height: 45px;
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 700px) {
  header .banner .logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8vh;
    max-height: 25px;
  }
}

/* Home page */
.search_bar {
  width: 100%;
  max-width: 1024px;
  margin: 0px auto;
}

.search_bar label {
  position: relative;
  overflow: hidden;
  display: block;
  width: calc(100% - 30px);
  margin: 10px;
  border: 2px solid #e6e6e6;
  border-radius: 40px;
}

.search_bar label input {
  box-sizing: border-box;
  padding: 10px 65px 10px 20px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.search_bar label .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  padding: 12px 20px;
  margin: 0;
  cursor: pointer;
  background-color: #e6e6e6;
}

.search_bar label .icon img {
  height: 80%;
  width: 80%;
}

.store-group-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  max-width: 1024px;
  margin: 0px auto;
}

.store-group-list a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 700px) {
  .store-group-list {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 400px) {
  .store-group-list {
    grid-template-columns: 100%;
  }
}

.store-group-list .store-group-box {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: calc(100% - 20px);
  padding: 20px 10px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid #fafafa;
  border-radius: 10px;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 10px #e6e6e6;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.store-group-list .store-group-box:hover {
  box-shadow: 0px 0px 20px #e1e1e1;
}

.store-group-list .store-group-box img {
  width: 50%;
  margin: 0px 25%;
}

.store-group-list .store-group-box span.title {
  display: block;
  padding: 10px 0px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.store-group-list .store-group-box span.info {
  display: block;
  padding: 5px 0px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 9pt;
  color: #4d4d4d;
  text-align: center;
}

.store-group-box .banner {
  width: 150px;
  position: absolute;
  top: 32.5px;
  right: -40px;
  text-align: center;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  transform: rotate(45deg);
  padding: 4px 10px;
  box-shadow: 0px 0px 2px gray;
}

.page-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1024px;
  margin: 0px auto;
}

.page-nav a.right {
  text-align: right;
}

.page-nav a img {
  height: 16pt;
  margin: 10px;
}

/* Footer */
footer {
  width: 100%;
  padding: 40px 0px;
  background: #1a1a1a;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

footer .container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  max-width: 1024px;
  margin: 0px auto;
}

@media screen and (max-width: 700px) {
  footer .container {
    grid-template-columns: 100%;
    margin: 20px;
    width: calc(100% - 40px);
  }
}

footer .container .footer-element a {
  display: block;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

footer .container .footer-element a:hover {
  color: #a22301;
}

footer .container .footer-element .powered {
  float: right;
}

footer .container .footer-element .powered span {
  font-family: 'Ethnocentric';
}
