* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  padding: 1.5cm 2cm 0cm 2cm
}

article table.header {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

article table.header .headline {
  height: 200px;
}

article table.header .headline .logo {
  width: 200px;
  height: 200px;
}

article table.header .headline .logo img {
  max-width: 180px;
  max-height: 180px;
  padding: 10px 0px;
}

article table.header .headline .details {
  text-align: right;
}

article table.header .headline .details .title {
  display: block;
  padding: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 20pt;
}

article table.header .headline .details .description {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 10pt;
}

article table.products {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

article table.products tr {
  padding: 10px;
}

article table.products tr th {
  border-bottom: 3px solid black;
  padding: 2px 0px;
  font-weight: 800;
}

article table.products tr th.product {
  font-size: 16pt;
  text-align: left;
}

article table.products tr td.product {
  font-size: 12pt;
  text-align: left;
  padding-top: 5px;
  border-bottom: 1px dotted #b3b3b3;
}

article table.products tr td.price {
  font-size: 12pt;
  text-align: right;
  padding-top: 5px;
  border-bottom: 1px dotted #b3b3b3;
}

.onlineshop {
  display: block;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 7pt;
  text-decoration: none;
  padding-top: 20px;
  color: black;
}

.onlineshop img {
  height: 45px;
}

.onlineshop span {
  display: block;
  text-align: right;
}

footer {
  position: fixed;
  bottom: 25px;
  right: 2cm;
  text-align: right;
  height: 15px;
  color: #b3b3b3;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  font-size: 11px;
}

footer span {
  font-family: "Ethnocentric";
}
